.header {
  background-color: #f2f2f2;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
}

