/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  font-weight: 300;
}
